{% extends 'base.html' %}
{% block content %}

<style>
    body {
      background-image: url('https://raw.githubusercontent.com/abhijeetdaspublic/product-recommendation-web/main/templates/homepage.jpg');
    }
</style>

<br>

<div class="container">
  <h3 style="font-weight: bold; color:black">Customer Category Information System</h3>
  <h4 style="font-weight: bold; color:brown">Code host: Abhijeet Das</h4>
</div>

<div class="container">
  <div class="jumbotron">

    <p style="font-weight: bold; color:black">Enter Customer Name:</p>
    <form action="{{url_for('login')}}">
      <input type="text" name="name" class="form-control">
      <input type="submit" class="btn btn-info" value="LOGIN">
    </form>

    <br>

    <p style="font-weight: bold; color:black">Enter Product Name:</p>
    <form action="{{url_for('view')}}">
      <input type="text" name="prod" class="form-control">
      <input type="submit" class="btn btn-info" value="VIEW">
    </form>

  </div>
</div>

<!--
<div class="containermod-1">
  {% include 'mostpopulartable.html' %}
  {% include 'topselltable.html' %}
</div>
-->

<!-- HOME PAGE TABLE -->
<!-- BELOW -->
<table style="border: 3px solid; float: left; width: 40%; background-color:yellow;">
<caption style="text-align: center; caption-side: top; font-size: 140%; font-weight: bold; color:black;">
<strong>Most Popular Products</strong></caption>

<!-- Most Popular -->
<tr>
<th>Product Name</th>
<th>Price (in Rupees(INR))</th>
</tr>
<tr>
<td>14 GREEN</td>
<td>400.0</td>
</tr>
<tr>
<td>TIRUMALA-50(16*20)</td>
<td>30.0</td>
</tr>
<tr>
<td>BLACK DOG-350ML</td>
<td>33.0</td>
</tr>
<tr>
<td>APPLE WATER</td>
<td>29.0</td>
</tr>
<tr>
<td>VISHNU 300ML</td>
<td>50.0</td>
</tr>
<tr>
<td>VISHNU 250ML</td>
<td>35.0</td>
</tr>
<tr>
<td>10*10 TEJA</td>
<td>142.0</td>
</tr>
<tr>
<td>BAHUBALI WINE</td>
<td>31.0</td>
</tr>
<tr>
<td>TIRUMALA-50(13*16)</td>
<td>28.0</td>
</tr>
<tr>
<td>NO-1</td>
<td>160.0</td>
</tr>
</table>

<!--Top Sellable -->
<table style="border: 3px solid; float: right; width: 40%; background-color:yellow;">
<caption style="text-align: center; caption-side: top; font-size: 140%; font-weight: bold; color:black;">
<strong>Top Selling Products</strong></caption>
<tr>
<th>Product Name</th>
<th>Price (in Rs.)</th>
</tr>
<tr>
<td>14 GREEN</td>
<td>400.0</td>
</tr>
<tr>
<td>CYCLE-BLU-10*12</td>
<td>7.1</td>
</tr>
<tr>
<td>500ML PLASTIC BOULS</td>
<td>3.8</td>
</tr>
<tr>
<td>DURGA 10*12 BLUE</td>
<td>110.0</td>
</tr>
<tr>
<td>10*12 SARAS-NAT</td>
<td>81.0</td>
</tr>
<tr>
<td>CYCLE-BK-10*12</td>
<td>13.0</td>
</tr>
<tr>
<td>VISHNU 250ML</td>
<td>35.0</td>
</tr>
<tr>
<td>ROBO 10*12</td>
<td>5.5</td>
</tr>
<tr>
<td>10*12 KRISHNA-BK</td>
<td>15.0</td>
</tr>
<tr>
<td>TIRUMALA-50(13*16)</td>
<td>28.0</td>
</tr>
</table>
<!-- END -->

{% endblock %}
